.ProductList {
  .FilterVerticalBar {
    .FilterSection {
      .FilterChildren {
        .filterContent {
          display: block;
          margin-bottom: 5px;
          color: #757575;
        }
      }
    }
  }
}
